#header-jumbo {
	background: url("nikita-velikanin-62416-unsplash.jpg") no-repeat fixed center;
	background-size: 100%;
	color: #a3b8cc;
	border-radius: 0.3rem 0.3rem 0 0;
}

#para {
	height: 56em;
	
}