#header-jumbo {
	padding: 12rem 3rem 4rem 3rem;
	margin: 0;
	height: 720px;
	background: url("kevin-lanceplaine-243768-unsplash.jpg") no-repeat fixed top;
	background-size: 100%;
	color: #a3b8cc;
	border-radius: 0.3rem 0.3rem 0 0;
}

#introducer-longtext {
	background: url("glauco-zuccaccia-132831-unsplash.jpg") no-repeat fixed center;
	background-size: 100%;
	padding: 4rem 3rem 4rem 3rem;
	height: 1440px;
}